.heading{
    display: flex;
    justify-content: center;
}
.btn{
    display: flex;
}
#submit{
    flex:1;
    padding:10px;
    font-family: 'Dancing Script', cursive;
    font-size:20px;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.book{
    display: flex;
    flex-direction: column;
    margin:20px;
    padding:20px;   
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #BD4B4B;
}
a{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #BD4B4B;
    text-decoration: none;
    display:flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color:#EEEEEE;
}

@media all and (max-width: 800px ) {
    h1{
        font-size:40px;
        margin-right:20%;
    }
    img{
        width:500px;
    }
}
@media all and (max-width: 500px ) {
    h1{
        font-size: 25px;
    }
    #submit{
        padding:5px;
        width:370px;
    }
    img{
        width:350px;
        margin-right:20%;
}
}

